* {
  color0  : #322D29;
  color1  : #816D5F;
  color3  : #FCC440;
  color4  : #88786D;
  color5  : #D9B154;
  color2  : #D9B154;
  color6  : #967E6E;
  color7  : #B5A9A1;
  color8  : #6A5F58;
  color9  : #E6B84D;
  color10 : #3F3A37;
  color11 : #5B534D;
  color12 : #796B63;
  color13 : #DFB99F;
  color14 : #CDA956;
  color15 : #FFF3EB;
  cursor : #9C8349;
  background : #322D29;
  foreground : #B5A9A1;
}
